@font-face {
    font-display: block;
    font-family:"Avenir-LT-W01_85-Heavy1475544";
    src:url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src:url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}
@font-face {
    font-family: "Avenir-LT-W05_85-Heavy";
    src: url("https://static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-85Heavy.woff2") format("woff2"),
    url("https://static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-85Heavy.woff") format("woff");
}

body {
  align-items: center;
  background-image: url('images/home-bg-small.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  font-family: "Avenir-LT-W01_85-Heavy1475544",avenir-lt-w05_85-heavy,sans-serif;;
  height: 100vh;
  justify-content: space-around;
}

.banner-wrapper {
  display:block;
  width:90%;
  max-width:980px;
  border: 2px solid black;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 1vw black;
}

.contract-info-container {
  align-items: center;
  display:flex;
  font-size: 15px;
  margin: 40px auto;
  text-align: center;
}
.contract-info-container > * {
  margin: 15px;
}
.contract-info-container a{
  color: #CC1613;
  font-weight: bold;
}
.metamask-button {
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  justify-content: center;
  padding: 15px;
  max-height: 50px;
}
.metamask-button:hover {
  background-color: white;
  color: #f6901c
}

.metamask-button img{
  margin-right: 20px;
  max-height: 30px;
}
.minting-wrapper {
  align-items: center;
  background-color: rgba(255,255,255,0.85);
  border: 2px solid #CC1613;
  border-radius: 10px;
  box-shadow: 0 0 1vw #CC1613;
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  max-width:980px;
  min-width: 300px;
  width:90%;
}
.minting-wrapper .logo {
  margin: 30px 0;
  text-align: center;
}
.minting-wrapper .logo img {
  width: 400px;
}
.mint-button {
  border-radius: 8px;
  background-color: white;
  border: 2px solid #CC1613;
  box-shadow: 0 0 2vw #CC1613;
  color: #CC1613;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-family: "Avenir-LT-W01_85-Heavy1475544",avenir-lt-w05_85-heavy,sans-serif;;
  font-weight: bold;
  min-width: 270px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .2s;
  transition: background-color .2s;
  transition: color .2s;
  transition: border .2s;
}
.mint-button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #CC1613;
  box-shadow: 0 0 3vw #ee3839;
}
.mint-button:disabled,
.mint-button[disabled]{
  pointer-events: none;
}
.mint-button-container {
  display: flex;
  flex-direction: column;
}

.slide-info-container {
  color: black;
  font-family: "Avenir-LT-W01_85-Heavy1475544",avenir-lt-w05_85-heavy,sans-serif;;
  font-size: 25px;
  display: table;
  margin: 0 20px;
  max-width: 575px;
  text-align: center;
}
.slide-info-container p {
  margin:0;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  background: white;
  display: inline-block;
  outline: 2px solid #CC1613;
  opacity: 1;
  margin: 40px auto;
  padding: 15px;
  width: 70%;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url('/images/slider-image.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 25px;
  border-radius: 50%;
  cursor: pointer;
  height: 75px;
  outline: 0px;
  width: 75px;
}

.slider::-moz-range-thumb {
  appearance: none;
  background-color: transparent;
  background-image: url('/images/slider-image.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 75px;
  outline: 0px;
  width: 75px;
}

.slider::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  cursor: pointer;
}

.slide-container {
  align-items: center;
  display: flex;
  text-align: center;
  width: 100%;
}
.slide-info-container p {
  max-width: 530px;
}
/* .slidernumber {
  display: inline;
  color: white;
  font-size: 3vw;
  font-family: "Avenir-LT-W01_85-Heavy1475544",avenir-lt-w05_85-heavy,sans-serif;;
} */

@media (max-width: 768px) {
  body {
    margin: 50px auto;
    max-height: 150vh;
  }
  .minting-wrapper .logo img {
    width: 70%;
  }
  .mint-button {
    font-size: 25px;
  }
  .slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    height: 50px;
    width:50px;
  }
  .slide-info-container {
    font-size: 18px;
  }
}

#remainingToMint {
  color: #CC1613;
  font-style: italic;
  margin-top: 25px;
}
#remainingToMint span {
  font-weight:bold;
}
